@charset "UTF-8";

* {
  font-family: 'Times New Roman', Times, serif;
}

body {
  background-image: linear-gradient(
    to right,
    #8ecae6,
    #219ebc,
    #126782,
    #023047
  );
}

main {
  background-color: white;
  width: 600px;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 20px #2ed5ff;
}

h1 {
  color: #fb8500;
  text-align: center;
  text-shadow: 1px 1px 2px #914d00;
}

h2 {
  color: #fd9e02;
}

p {
  text-align: justify;
}
